---
import Layout from "../../components/Layout.astro";

import * as API from "../../lib/api";
import * as markdownModule from "../../lib/markdown";

import { MDMetadata } from "../../../../../shared/interfaces/MDMetadata";

const { lang } = Astro.params;

const aboutData: MDMetadata = await API.fetchAbout();
const aboutHTML: string = markdownModule.renderMarkdown(aboutData[lang!] || aboutData.en);
---

<Layout lang={lang}>
    <div class="about-page">
        <h1>About Me:</h1>
        <div
            class="about-content"
            set:html={aboutHTML}
        />
    </div>
</Layout>

<style>
    .about-page {
        max-width: 800px;
        margin: 0 auto;
        padding: 2rem;
    }
    .about-content {
        line-height: 1.8;
    }
</style>
