---
import Layout from "../../components/Layout.astro";

const { lang } = Astro.params as { lang: string };
---

<Layout lang={lang}>
    <div class="contact-page">
        <h1>Contact Page:</h1>
        
    </div>
</Layout>
