---
import Layout from "../../../components/Layout.astro";
import GalleryList from "../../../components/GalleryList.astro";

import * as API from "../../../lib/api";

import { Gallery } from "../../../../../../shared/interfaces/Gallery";

const { lang } = Astro.params as { lang: string };

const galleries: ReadonlyArray<Gallery> = await API.fetchGalleries();
---

<Layout lang={lang}>
    <h1>Galleries:</h1>
    <GalleryList
        galleries={galleries}
        lang={lang}
    />
</Layout>
